<main class="main">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 mb-50">
        <div class="mt-50 mb-50 d-flex justify-content-center ">

          <h2 class="text-info" >About Us</h2>
        </div>



        <p class="font-lg color-brand-3 " style="text-align: -webkit-center;" >About Maid in Pakistan
          The main purpose of Maid in Pakistan is to humanize the existence of domestic workers and to secure the households. According to media reports 1 out 20 maids in Pakistan is tortured, harassed and raped in silence. Even many maids were murdered by the households. To give them voice and to provide free advocacy services, maid in Pakistan is working hard to ensure the heights of workers. Not only worker, maid in Pakistan has also mechanism for background checking of the worker for the safety of employers. To address the financial woes, maid in Pakistan will provide life insurance to workers up to 20 Lacs. By this small endeavor the dilemma of hiring workers will be solved. By this social organization the lowest class of our beloved society would be socially & financially organized</p>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 mb-50 " style="margin-top: 150px;">
        <div class="box-swiper">
          <div class="swiper-container swiper-group-1">
            <h4 class="text-info">25 Years of Experience </h4>
            <h2> A Better Choice For <br> Better Cleaning For You</h2>
            <p  class="font-lg color-brand-3 mb-10 mt-20 " style="text-align: start;"  >
              Our team of professionals is committed to delivering high-quality services customized to meet the unique needs and requirements of our clients.
            </p>

          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 mb-50 mt-50">
        <div class="box-swiper">
          <div class="swiper-container swiper-group-1">
            <img src="assets/imgs/maids/vision.png" class="img-fluid" style="height: auto; width: 620px;" >
            <div class="swiper-pagination swiper-pagination-1"></div>
          </div>
        </div>
      </div>
      <div class="col-xl-12 col-lg-12 col-md-12 mb-30 mt-50 ">
        <div class="mt-50 mb-50 d-flex justify-content-center ">

          <h2 class="text-info" >Vision And Mission</h2>
        </div>



        <p class="font-lg color-brand-3 mb-50 " style="text-align: -webkit-center;" >
          Our mission is to deliver top-notch professional services to our clients in Pakistan, Saudi Arabia, and the UAE. We strive to exceed our clients’ expectations and provide them with the peace of mind they deserve.
        </p>
        <p class="font-lg color-brand-3 mb-50 " style="text-align: -webkit-center;" >
          We aim to be a trusted partner for our clients by offering tailored services that address their unique needs and requirements. Recognizing that each client is different, we collaborate closely to develop customized solutions that fit their budget and schedule. </p>

        <p class="font-lg color-brand-3 mb-50 " style="text-align: -webkit-center;" >
          We are dedicated to building long-term relationships with our clients by providing high-quality services that are reliable, affordable, and professional. Our team of experts is trained to deliver efficient and effective services of the highest quality. We continually seek ways to improve our offerings to meet the evolving needs of our clients.



        </p>
        <p class="font-lg color-brand-3 mb-50 " style="text-align: -webkit-center;" >
          Our mission is to deliver unparalleled service to our clients in Pakistan, Saudi Arabia, and the UAE. We are dedicated to not only meeting but exceeding their expectations, ensuring their peace of mind. Contact us today to discover more about our services and arrange a consultation to discuss your requirements.
        </p>
      </div>

    </div>
  </div>
</main>


