<div>
  <div class="my-profile" style="background-color: white">
    <div class="my-profile-bd">
      <div class="my-profile-item"><h6 class="my-profile-item-title">Full name</h6>
        <div class="my-profile-item-info">{{user.name}}</div>
      </div>
      <div class="my-profile-item"><h6 class="my-profile-item-title"><span>Email Address</span> <span
        class="gray">|</span> <a data-spm="demail_add">Add</a></h6>
        <div class="my-profile-item-info">{{user.email}}</div>
      </div>
      <div class="my-profile-item"><h6 class="my-profile-item-title">Mobile <span class="gray">|</span> <a
        data-spm="dmobile_change">Change</a></h6>
        <div class="my-profile-item-info">{{user.contact}}</div>
      </div>
      <div class="my-profile-item"><h6 class="my-profile-item-title">Birthday</h6>
        <div class="my-profile-item-info"><span class="gray">Please enter your birthday</span></div>
      </div>
      <div class="my-profile-item"><h6 class="my-profile-item-title">Gender</h6>
        <div class="my-profile-item-info"><span class="gray">Please enter your gender</span></div>
      </div>
    </div>
    <div class="my-profile-ft">
      <a class="my-profile-subscribed" href="javascript:">Subscribe to our Newsletter</a>
      <a (click)="openModal(modelProfileUpdate)">
      <button class="next-btn next-btn-warning next-btn-normal next-btn-large" type="a">EDIT PROFILE</button>
    </a>
      <a class="next-btn next-btn-warning next-btn-normal next-btn-large" >CHANGE PASSWORD</a>
    </div>
  </div>
</div>
<!--model to update profile-->
<ng-template #modelProfileUpdate>


  <div class="modal-header">
    <h5 class="modal-title pull-left" >Update Profile
    </h5>
    <button (click)="modalRef?.hide()" aria-label="Close" class="btn-close close pull-right" type="button">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="profileUpdateForm" (ngSubmit)="updateProfile()">
      <div class="row">
        <div class="col-lg-12 mb-20">
          <!--name input-->
          <div class="col-lg-12 ">
            <div class="form-group">
              <label class="mb-2 "> Full Name<span class="text-danger">*</span></label>
              <input formControlName="fullName" class="form-control font-sm" placeholder="Full name" type="text">
              <div class="text-danger" *ngIf="profileUpdateForm.controls['fullName'].invalid && profileUpdateForm.controls['fullName'].touched">
                Name is required
              </div>
            </div>
          </div>
          <!--email input-->
          <div class="col-lg-12">
            <div class="form-group">
              <label class="mb-2">Email Address<span class="text-danger">*</span></label>
              <input formControlName="email" class="form-control font-sm" placeholder="Email Address" type="email">
              <div class="text-danger" *ngIf="profileUpdateForm.controls['email'].invalid && profileUpdateForm.controls['email'].touched">
                Email Address is required
              </div>
            </div>
          </div>
          <!-- mobile phone input-->
          <div class="col-lg-12">
            <div class="form-group">
              <label class="mb-2"> Mobile Number<span class="text-danger">*</span></label>
              <input formControlName="contact" class="form-control font-sm" placeholder="Mobile Number" type="text">
              <div class="text-danger" *ngIf="profileUpdateForm.controls['contact'].invalid && profileUpdateForm.controls['contact'].touched">
                Mobile number is required
              </div>
            </div>
          </div>
          <!--date picker input-->
          <div class="col-lg-12">
            <div class="form-group">
              <label class="mb-2"> Date of Birth</label>
              <input formControlName="dob" class="form-control font-sm" placeholder="Phone number" type="date">
            </div>
          </div>
          <!--Gender input-->
          <div class="col-lg-12">
            <div class="form-group">
              <label class="mb-2">Choose Gender</label>
              <div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="gender" id="male" value="male">
                  <label class="form-check-label" for="male">Male</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="gender" id="female" value="female">
                  <label class="form-check-label" for="female">Female</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" formControlName="gender" id="other" value="other">
                  <label class="form-check-label" for="other">Other</label>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
      <div class="col-lg-12 ">
        <div class="d-flex form-group mt-20 align-items-end justify-content-end">

          <button [disabled]="profileUpdateForm.invalid" class="font-md-bold btn btn-buy" type="submit">
            <ng-container *ngIf="isLoading.loadingUpdateProfile === false"> Update Profile</ng-container>
            <ng-container *ngIf="isLoading.loadingUpdateProfile === true">
                    <span [style.display]="'block'" class="indicator-progress">
                       Wait Updating...{{ " " }}
                      <span
                        class="
                          spinner-border spinner-border-sm
                          align-middle
                          ms-2
                        "
                      ></span>
                    </span>
            </ng-container>
          </button>
        </div>
      </div>
    </form>

  </div>


</ng-template>


<notifier-container></notifier-container>
