<div  id="container">
  <div class="dashboard">
    <div class="dashboard-profile">
      <div class="dashboard-mod-title">Personal Profile <span>|</span> <a routerLink="/user/profile" class="ms-1 edit-btn">EDIT</a></div>
      <div class="dashboard-info">
        <div class="dashboard-info-item">{{user.name}}</div>
        <div class="dashboard-info-item"></div>
        <div class="dashboard-info-item last">
          <a>Subscribe to our Newsletter</a>
        </div>
      </div>
    </div>
    <div class="dashboard-address">
      <div class="dashboard-address-item shipping">
        <div class="dashboard-mod-title">Address Book <span>|</span> <a routerLink="/user/address" class="ms-1 edit-btn">EDIT</a>
        </div>
        <div class="dashboard-address-default">DEFAULT DELIVERY ADDRESS</div>
        <div class="dashboard-address-username">Muhammad Amir</div>
        <div class="dashboard-address-detail">H6 ST2 Iqbal park farooq gunj lhr</div>
        <div class="dashboard-address-detail">Punjab - Lahore - Badami Bagh - Farooq Gunj</div>
        <div class="dashboard-address-phone">(+92) 3018021151</div>
      </div>
      <div class="dashboard-address-item billing">
        <div class="dashboard-mod-title">Address Book <span>|</span>
          <a routerLink="/user/address" class="ms-1 edit-btn">EDIT</a>
        </div>
        <div class="dashboard-address-default">DEFAULT BILLING ADDRESS</div>
        <div class="dashboard-address-username">Muhammad Amir</div>
        <div class="dashboard-address-detail">H6 ST2 Iqbal park farooq gunj lhr</div>
        <div class="dashboard-address-detail">Punjab - Lahore - Badami Bagh - Farooq Gunj</div>
        <div class="dashboard-address-phone">(+92) 3018021151</div>
      </div>
    </div>
    <div class="recent-orders">
      <div class="recent-orders-hd">Recent Orders</div>
      <div class="next-table only-bottom-border">
        <div class="next-table-inner">
          <div class="next-table-header">
            <div class="next-table-header-inner">
              <table>
                <colgroup>
                  <col style="width: 20%;">
                  <col style="width: 20%;">
                  <col style="width: 30%;">
                  <col style="width: 20%;">
                  <col style="width: 15%;">
                </colgroup>
                <tbody>
                <tr>
                  <th class="next-table-header-node first" rowspan="1">
                    <div class="next-table-cell-wrapper">Order #</div>
                  </th>
                  <th class="next-table-header-node" rowspan="1">
                    <div class="next-table-cell-wrapper">Placed On</div>
                  </th>
                  <th class="next-table-header-node" rowspan="1">
                    <div class="next-table-cell-wrapper">Items</div>
                  </th>
                  <th class="next-table-header-node" rowspan="1" style="text-align: right;">
                    <div class="next-table-cell-wrapper">Total</div>
                  </th>
                  <th class="next-table-header-node last" rowspan="1" style="text-align: right;">
                    <div class="next-table-cell-wrapper"></div>
                  </th>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="next-table-body">
            <table>
              <colgroup>
                <col style="width: 20%;">
                <col style="width: 20%;">
                <col style="width: 30%;">
                <col style="width: 20%;">
                <col style="width: 15%;">
              </colgroup>
              <tbody>
              <tr class="next-table-row last first">
                <td class="next-table-cell first">
                  <div class="next-table-cell-wrapper">121988974672348</div>
                </td>
                <td class="next-table-cell">
                  <div class="next-table-cell-wrapper">11/11/2020</div>
                </td>
                <td class="next-table-cell">
                  <div class="next-table-cell-wrapper">
                    <div>
                      <div class="recent-item"><img
                        src="https://static-01.daraz.pk/p/f8b00cc7efa4982f7389b6cf1a8ff4fb.jpg"
                        title="Pack Of 3 Leather Watches With Leather Wallet For Men"></div>
                    </div>
                  </div>
                </td>
                <td class="next-table-cell" style="text-align: right;">
                  <div class="next-table-cell-wrapper">Rs. 498</div>
                </td>
                <td class="next-table-cell last" style="text-align: right;">
                  <div class="next-table-cell-wrapper"><a
                    class="manage-order"
                    href="https://my.daraz.pk/customer/order/view/?tradeOrderId=121988974672348">MANAGE</a></div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
