<main class="main">

    <section class="section-box">
      <div class="banner-hero banner-1 pt-10">
        <div class="container">
          <div class="row">
            <div class="col-xl-7 col-lg-12 col-md-12 mb-30">
              <div class="box-swiper">
                <div class="swiper-container swiper-group-1">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="banner-big banner-big-3 bg-22" style="background-image: url(assets/imgs/page/homepage4/bg-banner.png)">
                        <h1 class="color-gray-100 text-uppercase text-shadow">Enjoy<br class="d-none d-lg-block"> The Music</h1>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <ul class="list-disc">
                              <li class="font-lg color-brand-3">Free Shipping. Secure Payment</li>
                              <li class="font-lg color-brand-3">Contact us 24hrs a day</li>
                              <li class="font-lg color-brand-3">Support gift service</li>
                            </ul>
                          </div>
                        </div>
                        <div class="mt-30"><a class="btn btn-brand-2 btn-gray-1000" href="shop-list-2.html">Shop now</a><a class="btn btn-link text-underline" href="shop-list-2.html">Learn more</a></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="banner-big banner-big-3 bg-22" style="background-image: url(assets/imgs/page/homepage4/bg-banner-2.png)">
                        <h1 class="color-gray-100 text-uppercase text-shadow">360 DEGREE<br class="d-none d-lg-block"> VIRTUAL REALITY</h1>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <ul class="list-disc">
                              <li class="font-lg color-brand-3">Free Shipping. Secure Payment</li>
                              <li class="font-lg color-brand-3">Contact us 24hrs a day</li>
                              <li class="font-lg color-brand-3">Support gift service</li>
                            </ul>
                          </div>
                        </div>
                        <div class="mt-30"><a class="btn btn-brand-2 btn-gray-1000" href="shop-list-2.html">Shop now</a><a class="btn btn-link text-underline" href="shop-list-2.html">Learn more</a></div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                      <div class="banner-big banner-big-3 bg-22" style="background-image: url(assets/imgs/page/homepage4/bg-banner-3.png)">
                        <h1 class="color-gray-100 text-uppercase text-shadow">Enjoy<br class="d-none d-lg-block"> The Music</h1>
                        <div class="row">
                          <div class="col-lg-12 col-md-12 col-sm-12">
                            <ul class="list-disc">
                              <li class="font-lg color-brand-3">Free Shipping. Secure Payment</li>
                              <li class="font-lg color-brand-3">Contact us 24hrs a day</li>
                              <li class="font-lg color-brand-3">Support gift service</li>
                            </ul>
                          </div>
                        </div>
                        <div class="mt-30"><a class="btn btn-brand-2 btn-gray-1000" href="shop-list-2.html">Shop now</a><a class="btn btn-link text-underline" href="shop-list-2.html">Learn more</a></div>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-pagination swiper-pagination-1"></div>
                </div>
              </div>
            </div>
            <div class="col-xl-5 col-lg-12 col-md-12">
              <div class="row">
                <div class="col-xl-7 col-lg-9 col-md-8 col-sm-12 mb-30">
                  <div class="bg-metaverse bg-22 pt-25 mb-20 pl-20 h-175">
                    <h3 class="mb-10 font-32">Metaverse</h3>
                    <p class="font-16">The Future of Creativity</p>
                    <div class="mt-10"><a class="btn btn-link-brand-2 btn-arrow-brand-2" href="shop-list-2.html">learn more</a></div>
                  </div>
                  <div class="bg-4 box-bdrd-4 bg-headphone pt-20 mh-307"><span class="font-md color-brand-3">Headphone</span>
                    <h4 class="font-32 color-gray-1000 mb-10 mt-5">Rockez 547</h4>
                    <p class="color-brand-1 font-sm">MUSIC EVERYWHERE<br class="d-none d-lg-block">ANYTIME</p>
                    <div class="mt-35"><a class="btn btn-brand-2 btn-arrow-right" href="shop-list-2.html">Shop Now</a></div>
                  </div>
                </div>
                <div class="col-xl-5 col-lg-3 col-md-4 col-sm-12">
                  <div class="box-promotions">
                    <!-- Swiper-->
                    <div class="swiper swiper-vertical-1">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide"><a ><img src="assets/imgs/page/homepage4/promotion1.png" alt="Ecom"></a><a href="shop-list-2.html"><img src="assets/imgs/page/homepage4/promotion2.png" alt="Ecom"></a><a href="shop-list-2.html"><img src="assets/imgs/page/homepage4/promotion3.png" alt="Ecom"></a><a href="shop-list-2.html"><img src="assets/imgs/page/homepage4/promotion4.png" alt="Ecom"></a><a href="shop-list-2.html"><img src="assets/imgs/page/homepage4/promotion5.png" alt="Ecom"></a><a href="shop-list-2.html"><img src="assets/imgs/page/homepage4/promotion6.png" alt="Ecom"></a></div>
                        <div class="swiper-slide"><a ><img src="assets/imgs/page/homepage4/promotion2.png" alt="Ecom"></a><a href="shop-list-2.html"><img src="assets/imgs/page/homepage4/promotion4.png" alt="Ecom"></a><a href="shop-list-2.html"><img src="assets/imgs/page/homepage4/promotion6.png" alt="Ecom"></a><a href="shop-list-2.html"><img src="assets/imgs/page/homepage4/promotion1.png" alt="Ecom"></a><a href="shop-list-2.html"><img src="assets/imgs/page/homepage4/promotion3.png" alt="Ecom"></a><a href="shop-list-2.html"><img src="assets/imgs/page/homepage4/promotion5.png" alt="Ecom"></a></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="section-box box-newsletter">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7 col-sm-12">
            <h3 class="color-white">Subscrible &amp; Get <span class="color-warning">10%</span> Discount</h3>
            <p class="font-lg color-white">Get E-mail updates about our latest shop and <span class="font-lg-bold">special offers.</span></p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-12">
            <div class="box-form-newsletter mt-15">
              <form class="form-newsletter">
                <input class="input-newsletter font-xs" value="" placeholder="Your email Address">
                <button class="btn btn-brand-2">Sign Up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

<notifier-container></notifier-container>
